
.navbar-brand a:hover{
	text-decoration: none;
}
 #header-nav {
  background-color: purple;
  border-radius: 0px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFF8DC;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}
body{
	background: #FFF8DC;
}
.margin{
	padding:10px;
	border:1px solid black;
	margin-bottom: 20px;
	height: 700px;
	overflow:auto;
	background: purple;
	color:#FFF8DC;
}
.chicken{
	padding-top:20px;
	text-align: center;
}
.beef{
	padding-top:20px;
	text-align: center;
}
.sushi{
	padding-top:20px;
	text-align: center;
}
p{
	padding:10px 30px 10px 30px;
}
h1{
	color:purple;
	font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}
.navbar-brand {
    height: 80px;
  }
.navbar-brand h1 {
  color: #FFF8DC;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 15px;
  margin-bottom: 10px;
}

section{
  border-left:30px solid #FFF8DC;
  border-right: 30px solid #FFF8DC;
}
p>a{
  font-style: italic;
  color:yellow;
}

#main-content{
  padding:10px;
}
@media(min-width: 1200px){
  .col-lg-4{
    border: 30px solid #FFF8DC;
  }
}
@media (min-width:992px) and (max-width: 1199px){
  .col-md-4{
border:30px solid #FFF8DC;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-brand h1 { 
    padding: 10px;
    font-size: 3vw;
  }
  .col-sm-6, .col-sm-12{
    border:30px solid #FFF8DC;
  }
}
@media (max-width: 767px) {
  .col-xs-12{
    border:30px solid #FFF8DC;
  }
  .navbar-brand h1 { 
    padding: 10px;
    font-size: 5vw;
  }
  #collapsable-nav a { 
    font-size: 1.2em;
    text-align: center;
    color:#FFF8DC;
  }
  #collapsable-nav a:hover { 
    background-color:#FFF8DC;
    color:purple;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;

  }
}
@media (max-width: 479px) {
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 7vw;
  }
}
