.navbar-brand a:hover{
	text-decoration: none;
}
 #header-nav {
  background-color: purple;
  border-radius: 0px;
  height: 70px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFF8DC;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}
body{
	background: #FFF8DC;
}
.margin{
	padding:10px;
	border:1px solid black;
	margin-bottom: 20px;
	height: 1000px;
	overflow:auto;
	background: purple;
	color:#FFF8DC;
}
.chicken{
	padding-top:20px;
	text-align: center;
}
.beef{
	padding-top:20px;
	text-align: center;
}
.sushi{
	padding-top:20px;
	text-align: center;
}
p{
	padding:10px 30px 10px 30px;
}
h1{
	color:purple;
	font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}
.navbar-brand h1 {
  color: #FFF8DC;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
	.navbar-brand h1 { 
    padding: 10px;
    font-size: 3vw;
  }
}
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw;
    color:#FFF8DC;
  }
  #collapsable-nav a { 
    font-size: 1.2em;
    text-align: center;
    color:#FFF8DC;
  }
  #collapsable-nav a:hover { 
    background-color:#FFF8DC;
    color:purple;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;

  }
}
@media (max-width: 479px) {
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 7vw;
  }
}
